.detail {
  &__container {
    max-width: 1200px;
    margin: 1rem auto;
    @media (max-width: 768px) {
      width: 90vw;
      padding: 1rem;
    }
  }
  &__back {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1rem 0;
      cursor: pointer;
  }
  &__arrow {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    @media (max-width: 768px) {
      font-size: 0.875rem;
    }
  }
}