.card {
  &__container {
    width: 12vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 6px;
    padding: 1rem;
    position: relative;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &:hover{
      scale: 1.05;
    }
    @media (max-width: 768px) {
      width: 70vw;
      height: 100%;
    }
  }
  &__header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    height: 40%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    height: 50%;
    color: #434c5e;
  }
  &__footer {
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e5e9f0;
      position: absolute;
      bottom: 3rem;
      left: 0;
    }
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.875rem;
    width: 100%;
    height: 10%;
  }
}