.card {
  &__container {
    width: 12vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.875rem;
    border: 2px solid #c4c4c4;
    border-radius: 6px;
  }
  &__header{
    font-size: 1.5rem;
    font-size: bold;
    margin-bottom: 0.5rem;
    height: 40%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    height: 50%;
  }
  &__footer {
      border-top: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.875rem;
      width: 100%;
      height: 10%;
  }
}