<section class="brewery__filter">
  <app-filter (getSelectedFilter)="changeBreweryListingByFilter($event)"></app-filter>
</section>
<section class="brewery__list">
  @for (brewery of breweryList; track $index) {
    <app-card routerLink="details/{{brewery.id}}">
      <h1 cardHeader>{{brewery.name}}</h1>
      <p cardContent>{{brewery.address_1}}</p>
      <p cardContent>{{brewery.city}} {{brewery.state}} - {{brewery.phone}}</p>
      <p cardContent>{{brewery.country}}</p>
      <p [ngClass]="getClassByBreweryType(brewery.brewery_type)" cardFooter class="brewery__type">{{brewery.brewery_type}}</p>
    </app-card>
  }
</section>
<section>
  <app-pagination (breweriesByPagination)="getBreweriesFromPage($event)"></app-pagination>  
</section>