.brewery {
  &__filter {
    margin: 1rem auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5.3vw;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 1200px;
    height: 100%;
  }
  &__type { 
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
    background-color: #4c566a;
    color: white;
    
  }
}
.large {
  background-color: #40c057; 
}
.closed {
  background-color: #fa5252; 
}

.micro {
  background-color: #38d9a9; 
}

.contract {
  background-color: #343a40;
}

.brewpub {
  background-color: #fcc419;
  color: black;
}

.regional {
  background-color: #009acd;
}

.nano {
  background-color: #F2D0A4;
}

.planning {
  background-color: #f783ac;
}

.bar {
  background-color: #DDB967;
  color: black;
}

.proprietor {
  background-color: #553555;
}

@media (max-width: 768px) {
  .brewery {
    &__list {
      width: 98vw;
    }
  }
}